*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(223, 223, 12,.6);
    padding: 9%;
}
.lowOpacity{
    opacity: 0.3;
}

#registerButton{
    position: absolute;
    right:48%;
    top: 50%;
}
.dontShow{
    opacity: .4;
}
